<div class="d-flex">
    <div class="card m-2 " style="height : 300px;width : 350px;">
        <div class="card-header bg-info">
        </div>
        <div class="card-body">
            <h5 class="card-title">Students</h5>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            <a asp-action="listOfStudents" asp-controller="student" class="btn btn-primary">See the list</a>
        </div>
    </div>

    <div class="card m-2" style="height : 300px;width : 350px;">
        <div class="card-header bg-success">
        </div>
        <div class="card-body">
            <h5 class="card-title">Teachers</h5>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            <a asp-action="listOfTeachers" asp-controller="teacher" class="btn btn-primary">See the list</a>
        </div>
    </div>
    <div class="card m-2" style="height : 300px;width : 350px;">
        <div class="card-header bg-danger">
        </div>
        <div class="card-body">
            <h5 class="card-title">Subjects</h5>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            <a asp-action="index" asp-controller="subject" class="btn btn-primary">See the list</a>
        </div>
    </div>
    <div class="card m-2" style="height : 300px;width : 350px;">
        <div class="card-header bg-secondary">
        </div>
        <div class="card-body">
            <h5 class="card-title">TimeTable</h5>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            <a asp-action="index" asp-controller="timetables" class="btn btn-primary">See the list</a>
        </div>
    </div>
</div>
<div class="d-flex">
    <div class="card m-2" style="height : 300px;width : 350px;">
        <div class="card-header bg-info">
        </div>
        <div class="card-body">
            <h5 class="card-title">Payments</h5>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            <a asp-action="index" asp-controller="payment" class="btn btn-primary">See the list</a>
        </div>
    </div>
    <div class="card m-2" style="height : 300px;width : 350px;">
        <div class="card-header bg-success">
        </div>
        <div class="card-body">
            <h5 class="card-title">Groups</h5>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            <a asp-action="index" asp-controller="groups" class="btn btn-primary">See the list</a>
        </div>
    </div>
    <div class="card m-2" style="height : 300px;width : 350px;">
        <div class="card-header bg-danger">
        </div>
        <div class="card-body">
            <h5 class="card-title">Attandances</h5>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            <a asp-action="index" asp-controller="attandances" class="btn btn-primary">See the list</a>
        </div>
    </div>
</div>
    

